<header class="header-section">
		<nav class="main-navbar">
			<div class="container d-flex">
				<div style="flex: 1" class="pt-2 nav-logo-container">
					<a href="index.html"><img src="./img/logo2.jpg" alt=""></a>
				</div>

				<div class="mobile-nav-padding"></div>

				<ul class="main-menu">
					<li><a href="/">Home</a></li>
					<li><a href="/produk">Product</a></li>
					<li><a href="/kontak">Contact Us</a></li>
				</ul>
			</div>
		</nav>
	</header>