<!DOCTYPE html>
<html lang="zxx">
<head>
	{{>head}}
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	{{>nav}}
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/tes-bg5.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>Wood Stands</h2>
							<p>Edna adalah industri rumahan bergerak di bidang kerajinan kayu yang menyediakan berbagai macam jenis rak untuk tanaman hias. </p>
							<a href="/produk" class="site-btn sb-white">SHOP NOW</a>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/tes-bg2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>Wood Stands</h2>
							<p>Edna adalah industri rumahan bergerak di bidang kerajinan kayu yang menyediakan berbagai macam jenis rak untuk tanaman hias. </p>
							<a href="/produk" class="site-btn sb-white">SHOP NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>PRODUK TERBARU</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/product/_21.jpg" alt="">
						<div class="pi-links">
							<a href="/produk/2" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$11,00</h6>
						<p>Äpplarö</p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/product/_22.png" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$8,00</h6>
						<p>Ektorp</p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/product/_23.png" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$13,00</h6>
						<p>Poäng</p>
					</div>
				</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/_24.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$15,00</h6>
							<p>Kallax</p>
						</div>
					</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/_25.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$17,00</h6>
							<p>Sparsm</p>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!-- letest product section end -->



	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>PALING DISUKAI</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/1.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$21,00</h6>
							<p>Dagstrop</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/2.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$19,00</h6>
							<p>Knutstrop</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/3.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$10,00</h6>
							<p>Gronkulla</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/4.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>SHOP NOW</span></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$12,00</h6>
							<p>Fyrkantig</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	{{! <section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="img/banner.jpg">
				<span>New Arrivals</span>
				<h2>STRIPED SHIRTS</h2>
			</div>
		</div>
	</section> }}
	<!-- Banner section end  -->


	<!-- Footer section -->
    {{>footer}}
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
    {{>scripts}}

	</body>
</html>
