<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Edna</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/animate.css"/>
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<nav class="main-navbar">
			<div class="container d-flex">
				<div style="flex: 1" class="pt-2 nav-logo-container">
					<a href="index.html"><img src="{{global.logo-header}}" alt=""></a>
				</div>

				<div class="mobile-nav-padding"></div>

				<ul class="main-menu">
					<li><a href="/">Home</a></li>
					<li><a href="#">Product</a></li>
					<li><a href="/kontak">Contact Us</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header section end -->


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Product Page</h4>
		</div>
	</div>
	<!-- Page info end -->


	<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic-zoom">
						<img class="product-big-img" src="img/single-product/tes2.png" alt="">
					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title">Simple Wood Stand</h2>
					<h3 class="p-price">$10.90</h3>
					<div id="paypal-button"></div>
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Deskripsi</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<p>Simple Wood Stand adalah kerajinan kayu yang digunakan untuk meletakan tanaman hias</p>
									<p>Tinggi 50cm</p>
									<p>Bahan terbuat dari kayu pinus</p>
									<p>Dapat menahan berat sampai 20kg</p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingTwo">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">Pembayaran</button>
							</div>
							<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="panel-body">
									<img src="./img/paypal.png" alt="">
									<p>Pembayaran melalui PayPal</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product section end -->

	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="{{global.logo-footer}}" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6 offset-lg-3">
					<div class="footer-widget about-widget">
						<h2 class="mb-3">About</h2>
						<p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
						<img src="img/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2 class="mb-3">Questions</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Track Orders</a></li>
							<li><a href="">Returns</a></li>
						</ul>
						<ul>
							<li><a href="">Partners</a></li>
							<li><a href="">Support</a></li>
							<li><a href="">Terms of Use</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container text-center">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
				</div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	{{>scripts}}
    <script type="text/javascript" src="https://www.paypal.com/sdk/js?client-id={{pp_client_id}}&disable-funding=credit"></script>
    <script>
    (function(){
        console.log('LOAD PAYPAL BUTTON!')

        paypal.Buttons({
            style: {
                size: 'large',
                layout: 'horizontal',
                color: 'blue',
                shape: 'rect',
                label: 'checkout'
            },
            createOrder: function(data, actions){
                return fetch('/order/create/', {
                    method: 'post',
                    headers: {'Content-type': 'application/json'}
                })
                .then(function(res){
                    return res.json()
                })
                .then(function(data){
                    return data.orderID
                })
            },
            onApprove: function(data, actions){
                
            }

        }).render('#paypal-button')


    })()

    </script>
	</body>
</html>
